@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    height: 0;
    /* Remove scrollbar space */
}

.custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    /* Hide scrollbar thumb */
}